body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
}

header{
background:#020617;
padding:20px;
text-align:center;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:12px;
margin-bottom:20px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
text-align:center;
}

h3{
font-size:28px;
color:#22c55e;
}

input{
padding:10px;
border-radius:8px;
border:none;
width:200px;
}

button{
padding:10px 20px;
background:#22c55e;
border:none;
border-radius:8px;
color:white;
cursor:pointer;
margin-left:10px;
}
