body{
font-family:Arial, sans-serif;
background:#0f172a;
color:white;
margin:0;
}

header{
background:#020617;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:8px;
text-decoration:none;
font-size:14px;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
text-align:center;
}

.number{
font-size:34px;
font-weight:bold;
color:#22c55e;
}

.lotto-box{
background:#1e293b;
padding:20px;
margin:10px;
border-radius:12px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

/* mobile */

@media (max-width:600px){

.container{
padding:10px;
}

.number{
font-size:28px;
}

.grid{
grid-template-columns:1fr;
}

nav a{
display:inline-block;
margin:5px;
}

}
